!!! 5
%html{:lang => 'pt'}
  %head
    %title Gerador e Validador Online de CPF e CNPJ

    %meta{:charset => 'UTF-8'}
    %meta{:description => 'Geração online de CPF e CNPJ para teste de aplicações. Cria também nomes fictícios de pessoas e empresas.'}
    %meta{:keywords => 'cpf, cnpj, gerador, geração, validador, validação, testes, desenvolvimento'}
    %meta{:author => 'Marcelo Silveira'}

    = javascript_include_tag "jquery-1.4.2.min.js", "application.js"
    = stylesheet_link_tag 'bootstrap.min.css', "application.css"

  %body
    .container
      .row
        .span12
          %h1
            = link_to 'CPF/CNPJ', '/'
            %small Gerador para teste de aplicações

      %hr

      .row
        .span8
          .row
            = yield

        .span4
          .validate
            = partial 'validate_form'

      .row
        .span12
          %hr
          .pull-right
            By
            = link_to "Marcelo Silveira", "http://mhfs.com.br/"
            \|
            = link_to "Código Fonte", "http://github.com/mhfs/cpfcnpj"

    = partial 'analytics'
